
$--gain-more-color: #F94848; // 红色
$--gain-less-color: #2CB532; // 绿色


#box {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

    > .header {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        $--header-height: 35px;
        padding-top: 3px;

        > h1 {
            padding: 0 12px;