
$--gain-more-color: #F94848; // 红色
$--gain-less-color: #2CB532; // 绿色


#box {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

    > .header {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        $--header-height: 35px;
        padding-top: 3px;

        > h1 {
            padding: 0 12px;
            font-size: 14px;
            line-height: $--header-height;
        }

        > .action-buttons {
            display: flex;
            align-items: center;
            padding-right: 5px;
            -webkit-app-region: no-drag; // 按钮不可拖拽


            > a {
                display: block;
                height: 14px;
                line-height: 14px;
                width: 30px;
                text-align: center;
                cursor: pointer;
                color: #888;

                > i {
                    font-size: 14px;
                }

                &:hover {
                    color: #000;
                }

                &.button-min {
                    margin-left: 8px;