
.optional-dialog {
    * {
        font-family: PingFang SC, 'Source Sans Pro', sans-serif;
        text-align: center;
    }

    .el-dialog__header {
        display: none;
    }

    .el-dialog__body {
        padding: 35px 0 20px 0;

        .el-form-item__error {
            width: 100%;
        }

        .code-select {
            width: 100%;

            .el-input__inner {
                font-size: 25px;
                border: none;
                letter-spacing: 2px;
            }
        }
    }

