
$--gain-more-color: #F94848; // 红色
$--gain-less-color: #2CB532; // 绿色
.stock-window {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    background-color: #fff;
    >.window-content {
        >.stock-top {
            display: flex;
            align-items: start;
            padding: 15px 10px 0 15px;
            -webkit-app-region: drag;
            >.stock-name {
                font-size: 18px;
            }
            >.stock-code {
                flex: 1;
                margin-left: 5px;
                font-size: 18px;
                font-weight: 300;
                color: #888;
            }
            >.action-buttons {
                position: relative;
                z-index: 9999999;
                display: flex;
                align-items: center;
                padding-right: 5px;
                -webkit-app-region: no-drag; // 按钮不可拖拽
                >a {
                    display: block;
                    height: 14px;
                    line-height: 14px;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    color: #888;
                    >i {
                        font-size: 14px;
                    }
                    &:hover {
                        color: #000;
                    }
                    &.button-min {
                        margin-left: 8px;
                        padding-left: 8px;
                        border-left: 1px solid #e0e0e0;
                    }
                    &.button-close {
                        &:hover {
                            color: #F84B4B;
                        }
                    }
                }
            }
        }
        >.price-row {
            padding: 10px 15px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            >.left-part {
                display: flex;
                align-items: baseline;
                color: #555;
                >.current-price {
                    font-size: 30px;
                    font-family: sans-serif;
                    font-weight: bold;
                }
                >.gain-price,
                >.gain-percent {
                    margin-left: 10px;
                    font-size: 14px;
                }
                &.gain-more {
                    color: $--gain-more-color;
                }
                &.gain-less {